@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: Inter, Google Sans;
    transition: .2s;
}

html, body {
  overflow: auto;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & Edge lama */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #000;
    align-items: center;
}
.navbar{
    background: #000;
    border-bottom: 2px solid #ffffff13;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    flex: 1;
}
footer{
    margin-top: 20px;
    background: #000;
    color: rgba(255, 255, 255, 0.534);
}